<template name="layout">
<!-- 
<div class="topcoat-button-bar full">
    <div class="topcoat-button-bar__item">
     <button class="topcoat-button-bar__button full"><li class="ion-camera" data-pack="default" data-tags="photo" style="display: inline-block;"></li></button>
   </div>
   <div class="topcoat-button-bar__item">
     <button class="topcoat-button-bar__button full"><li class="ion-radio-waves" data-pack="default" data-tags="music, sound, speaker" style="display: inline-block;"></li></button>
   </div>
   <div class="topcoat-button-bar__item">
     <button class="topcoat-button-bar__button full"><li class="ion-ios-location" data-pack="ios" data-tags="navigation, map, gps, pin" style="display: inline-block;"></li></button>
   </div>
   <div class="topcoat-button-bar__item">
     <button class="topcoat-button-bar__button full"><li class="ion-trash-a" data-pack="default" data-tags="delete, remove, dump" style="display: inline-block;"></li></button>
   </div>
</div> -->

  {{> yield}}

</template>